/* ==========================================================================
    								Fonts.
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

/* ==========================================================================
								Landing Page.
========================================================================== */

// Custom hr styling
hr {
	display: inline-block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.landingPage {
	background-size: cover;
	background: url(/assets/img/landing_img.jpg);
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 100vh;
	padding: 50px;
}

.headingTop {
	font-family: "Cinzel", serif;
	font-size: 50px;
	color: #f8f8f8;
	padding-top: 10px;
	font-weight: 500;
}

.headingMid {
	font-family: "Cinzel", serif;
	font-size: 75px;
	padding-top: 80px;
	color: #0efff9;
}

.scrolldown {
	width: 60px;
	height: 100px;
	padding-top: 430px;
	border-radius: 50px;
}

.chevrons {
	padding: 6px 0 0 0;
	margin-left: 10px;
	margin-top: 48px;
	width: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chevrondown {
	margin-top: -13px;
	position: relative;
	border: solid rgb(255, 255, 255);
	border-width: 0 3px 3px 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	transform: rotate(45deg);
	z-index: 14;
}

.chevrondown:nth-child(odd) {
	animation: pulse 600ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
	animation: pulse 600ms ease infinite alternate 250ms;
}

/* ==========================================================================
    							Main Section.
   ========================================================================== */

.mainLayout {
	height: 100%;
	background: #000000;
	padding-top: 60px;
}

/* ==========================================================================
    							Intro Bio Section.
   ========================================================================== */

#user-name {
	color: #0efff9;
	font-family: "Julius Sans One", sans-serif;
	font-size: 50px;
	font-weight: 400;
	padding-bottom: 10px;
}

.introBio {
	width: 480px;
	/* height: 180px; */
	color: #e8cfff;
	font-size: 18px;
	padding-top: 20px;
}

#email {
	color: #8492b3;
	padding-top: 50px;
}

.profile-pic {
	object-fit: cover;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/* ==========================================================================
    						Social List Section.
   ========================================================================== */

#socials--list {
	display: flex;
	justify-content: space-evenly;
	padding-right: 74px;
	padding-top: 18px;
}

#socials--list i {
	color: #d4d7dd;
}

.photo--socials {
	display: block;
}

/* ==========================================================================
								Bio Summary.
========================================================================== */

.bioSummary {
	padding-top: 100px;
	width: 100%;
	color: #adb0b1;
}

.bioSummary h1 {
	border-bottom: 1px solid #2b3031;
	font-size: 50px;
	font-weight: 200;
	color: #0efff9;
	font-family: "Julius Sans One", sans-serif;
	padding-bottom: 20px;
	padding-top: 100px;
}

#bio {
	color: #e8cfff;
	font-size: 18px;
}

/* ==========================================================================
								Skills Section.
========================================================================== */

.tech--list {
	padding-top: 100px;
	padding-bottom: 10px;
	width: 100%;
}

.tech--list h1 {
	border-bottom: 1px solid #2b3031;
	font-family: "Julius Sans One", sans-serif;
	font-size: 50px;
	color: #0efff9;
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: end;
}

#wrapper--techstack__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* gap: 0.5em; */
	font-size: 15px;
	color: #e8cfff;
}

.card--techstack {
	border: 1px solid #2b3031;
	border-radius: 5px;
	padding: 0.5em 1em;
}

/* ==========================================================================
    								Projects.
   ========================================================================== */

.projects--list {
	width: 790px;
	flex-direction: column;
	padding-bottom: 60px;
	padding-top: 100px;
	justify-content: center;
}

.projects--list h1 {
	font-family: "Julius Sans One", sans-serif;
	color: #0efff9;
	font-size: 50px;
	padding-top: 100px;
	padding-bottom: 20px;
	text-align: end;
}

.line-break {
	background-color: #2b3031;
	height: 1px;
}

.card--work-history {
	color: #e8cfff;
	border-left: 1px solid #2b3031;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.card--work-history h3 {
	color: #e6ffff;
	padding-bottom: 2px;
}

.techUsed {
	color: aquamarine;

	font-size: 14px;
}

.viewLinks {
	display: inline-flex;
	justify-content: space-between;
	width: 300px;
	list-style-type: circle;
}

.viewLinks a {
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	color: rgb(102, 201, 166);
}

.motto {
	color: #6cdeff;
	font-family: "Julius Sans One", sans-serif;
	font-weight: 600;
	font-size: 24px;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 100%;
}

/* ==========================================================================
							Key frames - animation
   ========================================================================== */
@keyframes scrolldown-anim {
	0% {
		opacity: 5;
		height: 16px;
	}
	40% {
		opacity: 4;
		height: 10px;
	}
	80% {
		transform: translate(0, 20px);
		height: 6px;
		opacity: 9;
	}
	100% {
		height: -3px;
		opacity: 5;
	}
}

@keyframes pulse {
	from {
		opacity: 10;
	}
	to {
		opacity: 0.5;
	}
}

/* ==========================================================================
    Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}
